:root {

  --sl-content-max-width: 750rem; /* default ~60rem, you can increase or decrease */
  --sl-font: "Fira code", serif;
  --sl-font-ui: "Fira code", serif;
  --layout-content-width: 1440px;
  --layout-content-padding-large: 52px;
  --layout-content-padding: 24px;
  --layout-content-padding-small: 18px;

  --transition-fast: 0.1s ease;
  --transition-med: 0.16s ease;

  --sl-sidebar-width: 19rem;

  --sl-text-h1: 2.4rem;
  --sl-text-h2: 2rem;
  --sl-text-h3: 1.8rem;
  --sl-text-h4: 1.6rem;
}

:root,
[data-theme='dark'] {
  --custom-color-text: rgba(255, 255, 255, 0.84);
  --custom-color-text-strong: #fff;

  --sl-color-bg-nav: var(--sl-color-bg) !important;
  --sl-color-bg-nav: transparent;
  --sl-color-bg-sidebar: var(--sl-color-bg);

  --sl-color-text-accent: rgba(255, 255, 255, 0.78);
}
/* Control the main content and sidebar proportions */
.sl-container{
  margin-left:5px;
  max-width: fit-content;
}
.main-pane{
      width: 85%;
}
.right-sidebar-container{
  width: 300px;
}


.sl-markdown-content {
  font-size: 1rem;
}

.sl-container h1 {
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -1.5px;
}

.sl-markdown-content h2 {
  letter-spacing: -0.5px;
}

header.header {
  border: none;
}


// ----------------------------------------
// Search

site-search button[data-open-modal] {
  transition: var(--transition-fast);
  transition-property: border-color, color;
}

// ----------------------------------------
// Pagination links

.pagination-links a {
  align-items: flex-start;
  box-shadow: 0 4px 6px -2px hsl(0, 0%, 0%, 0.1);
  transition: var(--transition-fast);
  transition-property: color, border-color;

  & > span {
    font-size: 0.84rem;
  }

  span:not(.link-title) {
    font-size: 0;
  }
}

.link-title {
  display: block;
  padding: 2px 0;
  font-size: var(--sl-text-base);
}

// ----------------------------------------
// Pagination links

.pagination-links a {
  align-items: flex-start;
  box-shadow: 0 4px 6px -2px hsl(0, 0%, 0%, 0.1);
  transition: var(--transition-fast);
  transition-property: color, border-color;

  & > span {
    font-size: 0.84rem;
  }

  span:not(.link-title) {
    font-size: 0;
  }
}

.link-title {
  display: block;
  padding: 2px 0;
  font-size: var(--sl-text-base);
}

// ----------------------------------------
// Table of contents


.right-sidebar {
  padding-left: 32px;
  border: none;
}

#starlight__on-this-page {
  margin-bottom: 16px;
  padding: 0 8px;
  font-size: 0.9rem;
}

.right-sidebar-panel li ul {
  margin-left: calc(var(--depth) * 16px);
}

.right-sidebar-panel a {
  padding: 5px 8px;
}

// don't override <a> text color for home page buttons
.sl-markdown-content .simple-page-hero__links a:not(:where(.not-content *)) {
  color: unset;
}

.content-panel + .content-panel {
  border: none;
}
// ----------------------------------------
// React components page

.limit-code-height > figure > pre {
  --at-apply: max-h-120;
  overflow-y: scroll;
}

.react-example .expressive-code .frame {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.react-example .cm-scroller {
  &::-webkit-scrollbar, &::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ec-sbThumbCol);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 10px
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--ec-sbThumbHoverCol)
  }
}
