
body {
  box-sizing: border-box;
  overscroll-behavior: none;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    pointer-events: none;
    z-index: 1;
  }

  &:not(:has(#starlight__sidebar)) {
    &::before {
      content: '';
    }

    [data-theme='dark'] & {
      background-image: radial-gradient(100% 100% at 50% 0%, transparent 60%, rgba(0, 0, 0, 0.8) 100%);
      &::before {
        background-image: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.8) 100%);
      }
    }

    [data-theme='light'] & {
      background-image: radial-gradient(100% 100% at 50% 0%, #fff 60%, #eff0f3 100%);

      &::before {
        background-image: linear-gradient(transparent 60%, rgba(255, 255, 255, 0.8) 100%);
      }
    }
  }
}
:root {

  --sl-content-max-width: 750rem; 
  --sl-font: "Fira code", serif;
  --sl-font-ui: "Fira code", serif;
  --layout-content-width: 1440px;
  --layout-content-padding-large: 52px;
  --layout-content-padding: 24px;
  --layout-content-padding-small: 18px;

  --transition-fast: 0.1s ease;
  --transition-med: 0.16s ease;

  --sl-sidebar-width: 19rem;

  --sl-text-h1: 2.4rem;
  --sl-text-h2: 2rem;
  --sl-text-h3: 1.8rem;
  --sl-text-h4: 1.6rem;
}

:root,
[data-theme='dark'] {
  --custom-color-text: rgba(255, 255, 255, 0.84);
  --custom-color-text-strong: #fff;

  --sl-color-bg-nav: var(--sl-color-bg) !important;
  --sl-color-bg-nav: transparent;
  --sl-color-bg-sidebar: var(--sl-color-bg);

  --sl-color-text-accent: rgba(255, 255, 255, 0.78);
}

.sl-container{
  margin-left:5px;
  max-width: fit-content;
}
.main-pane{
      width: 85%;
}
.right-sidebar-container{
  width: 300px;
}


.sl-markdown-content {
  font-size: 1rem;
}

.sl-container h1 {
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -1.5px;
}

.sl-markdown-content h2 {
  letter-spacing: -0.5px;
}

header.header {
  border: none;
}


// ----------------------------------------
// Search

site-search button[data-open-modal] {
  transition: var(--transition-fast);
  transition-property: border-color, color;
}

// ----------------------------------------
// Pagination links

.pagination-links a {
  align-items: flex-start;
  box-shadow: 0 4px 6px -2px hsl(0, 0%, 0%, 0.1);
  transition: var(--transition-fast);
  transition-property: color, border-color;

  & > span {
    font-size: 0.84rem;
  }

  span:not(.link-title) {
    font-size: 0;
  }
}

.link-title {
  display: block;
  padding: 2px 0;
  font-size: var(--sl-text-base);
}

// ----------------------------------------
// Pagination links

.pagination-links a {
  align-items: flex-start;
  box-shadow: 0 4px 6px -2px hsl(0, 0%, 0%, 0.1);
  transition: var(--transition-fast);
  transition-property: color, border-color;

  & > span {
    font-size: 0.84rem;
  }

  span:not(.link-title) {
    font-size: 0;
  }
}

.link-title {
  display: block;
  padding: 2px 0;
  font-size: var(--sl-text-base);
}

// ----------------------------------------
// Table of contents


.right-sidebar {
  padding-left: 32px;
  border: none;
}

#starlight__on-this-page {
  margin-bottom: 16px;
  padding: 0 8px;
  font-size: 0.9rem;
}

.right-sidebar-panel li ul {
  margin-left: calc(var(--depth) * 16px);
}

.right-sidebar-panel a {
  padding: 5px 8px;
}

// don't override <a> text color for home page buttons
.sl-markdown-content .simple-page-hero__links a:not(:where(.not-content *)) {
  color: unset;
}

.content-panel + .content-panel {
  border: none;
}
