@font-face {
  font-family: "Fira code";
  /* Use a relative path to the local font file in `url()`. */
  src: url("./MesloLGLDZNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
